{% extends 'base.html' %}

{% block title %}Usuario - {{user.username}}{% endblock %}

{% block content %}
    <h2 class="navbar-custom">Perfil de {{user.username}}</h2>
    {% if same %}
        <p><em>Nombres:</em> {{user.first_name}}</p>
        <p><em>Apellidos:</em> {{user.last_name}}</p>
        <p><em>Correo Electronico:</em> {{user.email}}</p>
        <p><a class="btn-outline" href="{% url 'new-code' user.username %}">Crear nuevo archivo de codigo</a></p>
    {% endif %}
    {% if tiene_codigo %}
        <h3 class="titulos">Es dueño de(los) codigo(s):</h3>

        {% for code in mycode %}
            <p><a  class="cod-lista" href="/code/{{code.code_id}}/">{{code.language}} - {{code.file_name}}</a></p>


        {% endfor %}

    {% endif %}
    {% if esCollab %}
        <h3>Colabora en:</h3>
        <ul class="navbar-fixed-top">
        {% for collab_code in collab_codes %}
            <li><a href="/code/{{ collab_code.code_id }}/">{{ collab_code.language }} - {{ collab_code.file_name }}</a>
                - por <a href="{% url 'user-profile' collab_code.user_owner.username %}">
                    {{ collab_code.user_owner.username }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}