{% extends 'base.html' %}

{% block title %}Editar Codigo en Linea{% endblock %}

{% block content %}
    {% load static %}
    <h2 class="navbar-custom"><a href="{% url 'code' userCode.code_id %}">Codigo</a></h2>
    <h3>Por <a href="/user/{{userCode.user_owner.username}}/">{{userCode.user_owner.username}}</a></h3>
    <h4><a href="{% url 'collab-perms-code' userCode.code_id %}">Lista de Colaboradores</a></h4>
    <hr>
    <h3>Editar Colaborador y sus permisos</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}