{% extends 'base.html' %}

{% block title %}Editar Codigo en Linea{% endblock %}

{% block content %}
    {% load static %}
    <h2 class="navbar-custom"><a href="{% url 'code' userCode.code_id %}">Codigo</a></h2>
    <h3>Por <a href="/user/{{userCode.user_owner.username}}/">{{userCode.user_owner.username}}</a></h3>
    <hr>
    <h3>Colaboradores y sus permisos</h3>
    <a href="{% url 'new-collab-perms-code' userCode.code_id %}">Nuevo Colaborador</a>
    <ul>
    {% for collab in collabs %}
        <li>
            <a href="{% url 'edit-collab-perms-code' collab.id %}">Editar</a> - {{collab}} -
            <a href="{% url 'user-profile' collab.user.username %}">{{collab.user.username}}</a> -
            <a data-confirm="¿Estas seguro que quieres borrar {{collab}}?"
               data-method="delete" href="{% url 'delete-collab-perms-code' collab.id %}" rel="nofollow">Borrar</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}